:root {
    --yellow-primary: #f4e041;
    --yellow-hover: #ffe302;
    --color-disabled: #b4b4b4;
    --color-text-gray: #7e7e7e;
    --color-light-blue: #00bdd3;
    --border-gray: #d0cfcf;
    --color-error: #cb3d40;
    --color-black:#000000de;
    --color-background: #f8f8f8;
    --font-size-header: 40px;
    --font-size-body: 16px;
    --font-size-small: 12px;
    --line-height-header: 40px;
    --line-height-body: 26px;
    --line-height-small: 14px;
    --font-family: "Nunito", sans-serif;
}
