:root {
    --yellow-primary:#F4E041;
    --yellow-hover: #FFE302;
    --color-secondary-blue: #00BDD3;
    --color-disabled: #B4B4B4;
    --color-background:#F8F8F8;
    --font-size-header: 40px;
    --line-height-header: 40px;
    --font-size-body: 16px;
    --line-height-body: 26px;
}