.button {
    padding: 4px 28px;
    color: var(--color-black);
    border-radius: 80px;

    &__yellow {
        background-color: var(--yellow-primary);

        &:hover {
            background-color: var(--yellow-hover);
        }
    }

    &__blue {
        background-color: var(--color-secondary-blue);
    }

    &__disabled {
        color: #ffffffde;
        background-color: var(--color-disabled);
    }
}
