.wrapper {
    position: relative;
    display: inline-flex;
}

.fileBtn {
    flex-basis: 83px;
    min-height: 54px;
    padding: 13px;
    color: var( --color-black);
    text-align: center;
    background: transparent;
    border: 1px solid var( --color-black);
    border-radius: 4px 0 0 4px;

    &__error {
        border: 2px solid var(--color-error);
    }
}

.selectedFile {
    flex-shrink: 0;
    flex-basis: 245px;
    min-height: 54px;
    padding: 13px;
    color: var(--color-text-gray);
    background: transparent;
    border: 1px solid var(--border-gray);
    border-left: none;
    border-radius: 0 4px 4px 0;

    &__error {
        border: 2px solid var(--color-error);
        border-left: none;
    }

    span {
        color: var( --color-black);
    }
}

.errorText {
    position: absolute;
    bottom: -14px;
    left: 16px;
    color: var(--color-error);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}
