.wrapper {
    display: inline-block;
    color: var(--color-text-gray);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.fieldset {
    position: relative;
    padding: 14px 16px;
    border-width: 1px;
    border-style: groove;
    border-color: var(--border-gray);
    border-radius: 4px;
    border-image: initial;

    &__error {
        color: var(--color-error);
        border-color: var(--color-error);
    }
}

.labelExists {
    padding: 9px 16px 14px;
}

.legend {
    display: none;

    &__focused {
        display: block !important;
    }
}

.input {
    color: var(--color-black);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    background-color: transparent;

    &::placeholder {
        color: var(--color-text-gray);
    }
}

.helperText {
    padding: 0 0 0 16px;

    &__error {
        color: var(--color-error);
    }
}
