.wrapper {
padding:  0 0 100px 0;
}

.registration {
    display: flex;
    flex-direction: column;
    max-width:380px;
    margin: 0 auto;

    &__name, &__email {
        margin: 0 0 50px 0;
    }

    &__phone {
        margin: 0 0 29px 0;
    }

    &__file {
        margin: 0 0 50px 0;
    }

    &__radio {
        margin: 0 0 47px 0;
        &_topic {
            margin: 0 0 11px 0;
        }

        label {
            margin: 0 0 7px 0;
        }
    }

    &__submit {
        align-self: center;
    }
}