.wrapper {
    padding: 0 0 100px;
}

.registration {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 0 auto;

    &__name,
    &__email {
        margin: 0 0 50px;
    }

    &__phone {
        margin: 0 0 29px;
    }

    &__file {
        margin: 0 0 50px;
    }

    &__radio {
        margin: 0 0 47px;

        &_topic {
            margin: 0 0 11px;
        }

        label {
            margin: 0 0 7px;
        }
    }

    &__submit {
        align-self: center;
    }
}
