.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &__content {
        position: absolute;
        left: 50%;
        z-index: 1;
        display: inline-block;
        padding: 3px 16px;
        color: #fff;
        white-space: nowrap;
        background-color: #000;
        border-radius: 5px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        transition: 0.3s;
        pointer-events: none;
    }

    &__visible {
        opacity: 1;
        pointer-events: all;
    }
}
